# **Python as Calculator**

####**1. Addition**

In [ ]:
2+3

5

####**2.Subtraction**

In [ ]:
5-2

3

####**3.Multiplication**

In [ ]:
5*2

10

####**4.Division**

In [ ]:
5/2

2.5

In [ ]:
30/2

15.0

####**5.Power of Number**

In [ ]:
5**2

25

In [ ]:
5**3

125

In [ ]:
5**4

625

####**6.Modulus of Number**

In [ ]:
15%2

1

In [ ]:
18%4

2

# **Print Statement in Python**

In [ ]:
print("Hello World !")

Hello World !

In [ ]:
print('Hello Word !')

Hello Word !

In [ ]:
print(5)

5

# **Python Variables**

## Variables
Variables are containers for storing data values.

## Creating Variables
* Python has no command for declaring a variable.
* A variable is created the moment you first assign a value to it.
* Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

## Casting
If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(type(x))
print(type(y))
print(type(z))

print(x)
print(y)
print(z)

<class 'str'>
<class 'int'>
<class 'float'>
3
3
3.0

## Get the Type
* You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## Single or Double Quotes?
* String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
print(x)
y = 'John'
print(y)
# both the statements are same

John
John

## Case-Sensitive
* Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sun"
print(a)
print(A)
# A will not overwrite a

4
Sun

# **Python - Variable Names**

## Variable Names
* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

## Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# Legal variable names:
myvar = "Sun"
my_var = "Sun"
_my_var = "Sun"
myVar = "Sun"
MYVAR = "Sun"
myvar2 = "Sun"

In [ ]:
# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John

SyntaxError: ignored

# **Multi Words Variable Names**

* Variable names with more than one word can be difficult to read.
* There are several techniques you can use to make them more readable:

## 1.Camel Case
* Each word, except the first, starts with a capital letter:

In [ ]:
myVariableName = "John"

## 2.Pascal Case
* Each word starts with a capital letter:

In [ ]:
MyVariableName = "John"

## 3.Snake Case
* Each word is separated by an underscore character:

In [ ]:
my_variable_name = "John"

# **Python Variables - Assign Multiple Values**

## Many Values to Multiple Variables
* Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Leap", "March", "Mon"
print(x)
print(y)
print(z)

Leap
March
Mon

## One Value to Multiple Variables
* And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Mon"
print(x)
print(y)
print(z)

Mon
Mon
Mon

## Unpack a Collection
* If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [ ]:
# Unpack a list:
days = ["Mon", "Tue", "Wed"]
x, y, z = days
print(x)
print(y)
print(z)

Mon
Tue
Wed

In [ ]:
# Unpack a list:
days = ["Mon", "Tue", "Wed","Thur"]
x, y, z = days
print(x)
print(y)
print(z)

ValueError: ignored

# **Python - Output Variables**

## Output Variables
* The Python print statement is often used to output variables.
* To combine both text and a variable, Python uses the + character:

In [ ]:
x = "Programming Language"
print("Python is " + x)

Python is Programming Language

You can also use the + character to add a variable to another variable:

In [ ]:
x = "Python is "
y = "Programming Language"
z =  x + y
print(z)

Python is Programming Language

For numbers, the + character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = '5'
y = '10'
print(x + y)

510

If you try to combine a string and a number, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

# **Python - Global Variables**

## Global Variables
* Variables that are created outside of a function (as in all of the examples above) are known as global variables.
* Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
# Create a variable outside of a function, and use it inside the function

x = 2

def myfun():
  print("x : ", x)

myfun()

x :  2

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
# Create a variable inside a function, with the same name as the global variable
x = 2

def myfun():
  x = 3
  print("x : ", x)

myfun()

print("x : ", x)

x :  3
x :  2

In [ ]:
# Local variables can not be called outside the function

def myfun():
  x = 3
  print("x : ", x)

myfun()

print("x : ", x)

x :  3
x :  2

In [ ]:
# Local variables can not be called outside the function

def myfun():
  K = 3
  print("K : ", K)

myfun()

print("K : ", K)

K :  3

NameError: ignored

## The global Keyword
* Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.
* To create a global variable inside a function, you can use the global keyword.

In [ ]:
# If you use the global keyword, the variable belongs to the global scope:

def myfun():
  global x
  x = 2
  print("x is ", x)

myfun()

print("x is ", x)

x is  2
x is  2

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x = 3

def myfun():
  global x
  x = 2
  print("x is:", x)

myfun()

print("x is:", x)

x is: 2
x is: 2