<a href="https://colab.research.google.com/github/yadavsunil531984/Python-Tutorial/blob/main/6_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python-List**

## **List**

* Lists are used to store multiple items in a single variable.
* Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
* Lists are created using square brackets:

In [1]:
# Create List of days
Days = ["Mon", "Tue", "Wed","Thur","Fri"]
print(Days)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [2]:
print(type(Days))

<class 'list'>

### **List Items**
* List items are ordered, changeable, and allow duplicate values.
* List items are indexed, the first item has index [0], the second item has index [1] etc.

### **Ordered**
* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
* If you add new items to a list, the new items will be placed at the end of the list.
* There are some list methods that will change the order, but in general: the order of the items will not change.

### **Changeable**

* The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### **Allow Duplicates**
* Since lists are indexed, lists can have items with the same value:

In [3]:
# Create List with duplicate values
Days = ["Mon", "Tue", "Wed","Thur","Fri","Mon"]
print(Days)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Mon']

### **List Length**
* To determine how many items a list has, use the len() function:

In [4]:
# Create List with Count values
Days = ["Mon", "Tue", "Wed","Thur","Fri"]
print(Days)
print(len(Days))

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']
5

### **List Items - Data Types**
* List items can be of any data type:

In [5]:
# List with String, int and boolean data types:
Days_s = ["Mon", "Tue", "Wed","Thur","Fri"]
Days_n = [1, 5, 7, 9, 3]
Days_B = [True, False, False, True, True]
print(Days_s)
print(Days_n)
print(Days_B)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']
[1, 5, 7, 9, 3]
[True, False, False, True, True]

In [6]:
# A list can contain different data types:
Days = ["Mon", 2, True, 4, "Fri"]
print(Days)

['Mon', 2, True, 4, 'Fri']

### **The list() Constructor**
* It is also possible to use the list() constructor when creating a new list.

In [8]:
# Using the list() constructor to make a List:
Days = list(("Mon", "Tue", "Wed")) # note the double round-brackets
print(Days)

['Mon', 'Tue', 'Wed']

## **Python Collections (Arrays)**

**There are four collection data types in the Python programming language:**

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.
*Set items are unchangeable, but you can remove and/or add items whenever you like.
**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

## **Python - Access List Items**

### **Access Items**
* List items are indexed and you can access them by referring to the index number:

![image.png]()

In [12]:
# Print the second item of the list:
Months = ["Jan", "Feb", "March","April","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[1]

'Feb'

In [14]:
# Print the fifth item of the list:
Months = ["Jan", "Feb", "March","April","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[4]

'May'

### **Negative Indexing**
* Negative indexing means start from the end

In [15]:
# Print the last item of the list:
Months = ["Jan", "Feb", "March","April","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[-1]

'Dec'

In [16]:
# Print the third last item of the list:
Months = ["Jan", "Feb", "March","April","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[-3]

'Oct'

## **Range of Indexes**

* You can specify a range of indexes by specifying where to start and where to end the range.
* When specifying a range, the return value will be a new list with the specified items.

In [18]:
# Return the third, fourth, and fifth item:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[2:5]

['March', 'Apr', 'May']

In [19]:
# By leaving out the start value, the range will start at the first item:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[:5]

['Jan', 'Feb', 'March', 'April', 'May']

In [20]:
# By leaving out the last value, the range will go till end item:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[3:]

['Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

### **List with the Step Size**

In [ ]:
# Print all month starting from april to Nov by leaving one alternate month:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[3:10:2]

['April', 'June', 'Aug', 'Oct']

In [21]:
# Print all month starting from april to Nov by leaving two alternate month:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[3:10:3]

['Apr', 'July', 'Oct']

### **Reverese list of Items**

In [22]:
# Print all month in reverese order
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months[::-1]

['Dec',
 'Nov',
 'Oct',
 'Sept',
 'Aug',
 'July',
 'June',
 'May',
 'Apr',
 'March',
 'Feb',
 'Jan']

## **Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

In [23]:
# Check if "apple" is present in the list:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]

if "Feb" in Months:
  print("Yes, 'Feb' is in the months list")

Yes, 'Feb' is in the months list

In [25]:
# Check if "apple" is present in the list:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]

if "apple" in Months:
  print("Yes, 'apple' is in the months list")

## **Change Item Value**

* To change the value of a specific item, refer to the index number:

In [26]:
# Change the second item:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
print(Months)
Months[1]= "February"
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
['Jan', 'February', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

## **Change a Range of Item Values**

* To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
# Change the value "Aug" to "Nov" with the values full name
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
print(Months)
Months[7:11]= ["August","September","October","November"]
print(Months)

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [29]:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
print(Months)
Months[2:4]= ["march","apr"]
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
['Jan', 'Feb', 'march', 'apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

In [28]:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
print(Months)
Months[2:4]= ["march","apr","may"]
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
['Jan', 'Feb', 'march', 'apr', 'may', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

**Note:** If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [30]:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
print(Months)
Months[2:4]= ["march"]
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
['Jan', 'Feb', 'march', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

## **Python - Add List Items**

### **1. Append Items**
* To add an item to the end of the list, use the append() method:

In [32]:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov"]
print(Months)
Months.append("Dec")
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov']
['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

### **2. Insert Items**
* To insert a list item at a specified index, use the insert() method.
* The insert() method inserts an item at the specified index:

In [33]:
Months = ["Jan", "Feb", "Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
print(Months)
Months.insert(2, "March")
print(Months)

['Jan', 'Feb', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

### **3. Extend List**
* To append elements from another list to the current list, use the extend() method.

In [34]:
# Add the elements of tropical to thislist:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept"]
print(Months)
Q4 = ["Oct","Nov","Dec"]
Months.extend(Q4)
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept']
['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

### **4. Add Any Iterable**
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [35]:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept"]
print(Months)
Q4 = ("Oct","Nov","Dec")
Months.extend(Q4)
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept']
['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

## **Python - Remove List Items**

### **1. Remove Specified Item using remove() method**
* The remove() method removes the specified item.

In [36]:
Q1 = ["Jan", "Feb", "March"]
Q1.remove("Feb")
print(Q1)

['Jan', 'March']

### **2. Remove Specified Index using pop() method**
* The pop() method removes the specified index.
* If you do not specify the index, the pop() method removes the last item.

In [37]:
Q1 = ["Jan", "Feb", "March"]
Q1.pop(2)
print(Q1)

['Jan', 'Feb']

In [38]:
Q2 = ["Apr","May","June"]
Q2.pop()
print(Q2)

['Apr', 'May']

###**3.Remove using del keyword**
*  The del keyword also removes the specified index:
* The del keyword can also delete the list completely.

In [39]:
Q1 = ["Jan", "Feb", "March"]
print(Q1)
del Q1[0]
print(Q1)

['Jan', 'Feb', 'March']
['Feb', 'March']

In [40]:
Q1 = ["Jan", "Feb", "March"]
del Q1

In [42]:
print(Q1)

NameError: ignored

### **4. Clear the List**
* The clear() method empties the list.
* The list still remains, but it has no content.

In [43]:
Q4 = ["Oct", "Nov", "Dec"]
Q4.clear()
print(Q4)

[]

## **Python - Loop Lists**

### **1. Loop Through a List**
* You can loop through the list items by using a for loop:

In [45]:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
print(Months)

['Jan', 'Feb', 'March', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']

In [44]:
# Print all items in the list, one by one:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
for x in Months:
  print(x)

Jan
Feb
March
Apr
May
June
July
Aug
Sept
Oct
Nov
Dec

### **2. Loop Through the Index Numbers**
* You can also loop through the list items by referring to their index number.
* Use the range() and len() functions to create a suitable iterable.

In [ ]:
# Print all items by referring to their index number:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
for i in range(len(Months)):
  print(Months[i])

Jan
Feb
March
Apr
May
June
July
Aug
Sept
Oct
Nov
Dec

### **3. Using a While Loop**
* You can loop through the list items by using a while loop.
* Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.
* Remember to increase the index by 1 after each iteration.

In [46]:
# Print all items, using a while loop to go through all the index numbers
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]

i = 0
while i < len(Months):
  print(Months[i])
  i = i + 1

Jan
Feb
March
Apr
May
June
July
Aug
Sept
Oct
Nov
Dec

### **4. Looping Using List Comprehension**
* List Comprehension offers the shortest syntax for looping through lists:

In [48]:
# Using general for loop:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
for x in Months:
  print(x)

Jan
Feb
March
Apr
May
June
July
Aug
Sept
Oct
Nov
Dec

In [49]:
# A short hand for loop that will print all items in a list:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
[x for x in Months]

['Jan',
 'Feb',
 'March',
 'Apr',
 'May',
 'June',
 'July',
 'Aug',
 'Sept',
 'Oct',
 'Nov',
 'Dec']

## **Python - List Comprehension**

### **List Comprehension**
* List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
* Example: Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.
* Without list comprehension you will have to write a for statement with a conditional test inside:

In [50]:
# Without list comprehension you will have to write a for statement with a conditional test inside:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [51]:
# Without list comprehension you will have to write a for statement with a conditional test inside:
N = [1,2,3,4,5,6,7,8,9,10]
Even = []

for x in N:
  if (x % 2 == 0) in N:
    Even.append(x)

print(Even)

[2, 4, 6, 8, 10]

In [ ]:
# With list comprehension you can do all that with only one line of code:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

In [52]:
# With list comprehension you can do all that with only one line of code:
N = [1,2,3,4,5,6,7,8,9,10]
Even = [x for x in N if (x % 2 == 0) ]
print(Even)

[2, 4, 6, 8, 10]

### **Syntax:**
newlist = [print expression for item in iterable if condition == True]

**Note:** The return value is a new list, leaving the old list unchanged.

### **Condition**
* The condition is like a filter that only accepts the items that valuate to True.
* The condition is optional and can be omitted:

In [ ]:
# Only accept items that are not "apple":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
# Only accept items that are not "apple":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
# A short hand for loop that will print all items in a list:
Q1_Q2 = ["Jan", "Feb", "March","Apr","May","June"]
Updated_Months = [x for x in Q1_Q2]
Updated_Months

['Jan', 'Feb', 'March', 'Apr', 'May', 'June']

### **Iterable**
* The iterable can be any iterable object, like a list, tuple, set etc.

In [53]:
# You can use the range() function to create an iterable:
newlist = [x for x in range(10)]

In [54]:
# Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

##**Expression**

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
# Set the values in the new list to upper case:
Q1_Q2 = ["Jan", "Feb", "March","Apr","May","June"]
newlist = [x.upper() for x in Q1_Q2]
newlist

['JAN', 'FEB', 'MARCH', 'APR', 'MAY', 'JUNE']

In [ ]:
# Set the values in the new list to upper case:
Q1_Q2 = ["Jan", "Feb", "March","Apr","May","June"]
newlist = [x.lower() for x in Q1_Q2]
newlist

['jan', 'feb', 'march', 'apr', 'may', 'june']

In [ ]:
# Set all values in the new list to 'hello':
Q1 = ["Jan", "Feb", "March"]
newlist = ['q1' for x in Q1]
newlist

['q1', 'q1', 'q1']

In [ ]:
# Return "orange" instead of "banana":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

## **Python - Sort Lists**

### **1. Sort List Alphanumerically**
* List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [55]:
# Sort the list alphabetically:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months.sort()
print(Months)

['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'July', 'June', 'March', 'May', 'Nov', 'Oct', 'Sept']

In [56]:
# Sort the list numerically:
N = [85, 83, 75, 23, 33]
N.sort()
print(N)

[23, 33, 75, 83, 85]

### **2. Sort Descending**
* To sort descending, use the keyword argument reverse = True:

In [57]:
# Sort the list descending:
Months = ["Jan", "Feb", "March","Apr","May","June","July","Aug","Sept","Oct","Nov","Dec"]
Months.sort(reverse = True)
print(Months)

['Sept', 'Oct', 'Nov', 'May', 'March', 'June', 'July', 'Jan', 'Feb', 'Dec', 'Aug', 'Apr']

In [58]:
# Sort the list numerically:
N = [85, 83, 75, 23, 33]
N.sort(reverse=True)
print(N)

[85, 83, 75, 33, 23]

### **3. Customize Sort Function**
* You can also customize your own function by using the keyword argument key = function.
* The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
# Sort the list based on how close the number is to 50:
def myfun(n):
  return abs(n - 50)

List = [100, 50, 65, 82, 23]
List.sort(key = myfun)
print(List)

[50, 65, 23, 82, 100]

### **4. Case Insensitive Sort**
* By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
# Case sensitive sorting can give an unexpected result:
List = ["banana", "Orange", "Kiwi", "cherry"]
List.sort()
print(List)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [ ]:
# Perform a case-insensitive sort of the list:
List = ["banana", "Orange", "Kiwi", "cherry"]
List.sort(key = str.lower)
print(List)

['banana', 'cherry', 'Kiwi', 'Orange']

### **5. Reverse Order**
* What if you want to reverse the order of a list, regardless of the alphabet?
* The reverse() method reverses the current sorting order of the elements.

In [ ]:
# Reverse the order of the list items:
List = ["banana", "Orange", "Kiwi", "cherry"]
List.reverse()
print(List)

['cherry', 'Kiwi', 'Orange', 'banana']

## **Python - Copy Lists**

### **1. Copy a List**
* You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
* There are ways to make a copy, one way is to use the built-in List method copy().

In [59]:
# Make a copy of a list with the copy() method:
Q1 = ["Jan", "Feb", "March"]
Quarter1 = Q1.copy()
Quarter1

['Jan', 'Feb', 'March']

###**2.built-in method list().**
* Another way to make a copy is to use the built-in method list().

In [60]:
# Make a copy of a list with the list() method:
Q1 = ["Jan", "Feb", "March"]
Quarter1 = list(Q1)
Quarter1

['Jan', 'Feb', 'March']

## **Python - Join Lists**

### **1. Using '+' Operator**
* There are several ways to join, or concatenate, two or more lists in Python.
* One of the easiest ways are by using the + operator.

In [61]:
# Join two list:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

###**2. Using append Method**
Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
# Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# nesting of List
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.append(list2)
print(list1)

['a', 'b', 'c', [1, 2, 3]]

### **3. Using extend method**
* you can use the extend() method, which purpose is to add elements from one list to another list:

In [ ]:
# Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## **Python - List Methods**

![image.png]()